.block{
  display: flex;
  align-items: center;
  background-color: #50CAFF;
  height: 55px;
}
.block h2{
  font-size: 28px;
  line-height: 33px;
}
.block svg {
  fill: red;
}
.border{
  display: flex;
  align-items: center;
  height: 49px;
  width: 49px;
  border: 1px solid white;
  border-radius: 50%;
}
.photo{
  margin: 0 auto;
  height: 45px;
  border-radius: 50%;
}