.block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50CAFF;
  height: 55px;
  padding: 0 40px 0 40px;
}
.block h2{
  font-size: 28px;
  line-height: 33px;
}
.rightBlock{
  display: flex;
  align-items: center;
}
.rightBlock svg:not(:last-child) {
  margin-right: 20px;
}

.rightBlock svg:last-child {
  margin-left: 7px;
}

.borderPhoto{
  display: flex;
  align-items: center;
  height: 49px;
  width: 49px;
  border: 1px solid white;
  border-radius: 50%;
}
.photo{
  margin: 0 auto;
  height: 45px;
  border-radius: 50%;
}