html {
	box-sizing: border-box;
} 

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Gilroy-Medium', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;
	background-color: #010223;

}

a {
  text-decoration: none !important;
}

h2 {
  font-size: 15px !important;
  font-weight: 15px !important;
  margin: 0 !important;
}