.title{
  font-size: 16px;
  line-height: 19px;
  padding-left: 40px;
  padding-top: 14px;
  padding-bottom: 15px;
}
.cardsContainer{
  display: flex;
}
.textBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.textLink{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #50CAFF;
}